<!-- Login Template-->
<div class="login-panel background-transparent">
  <h1>Login</h1>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Enter Password">
  </div>

      <input type="submit" class="btn btn-primary" name="submit" value="Submit"></input>
  </div>

</div>

<!--Login Script-->
<script type="text/javascript" src="/js/app/modules/login/login.controller.js"></script>
<script type="text/javascript" src="/js/app/modules/login/login.module.js"></script>
