/**
 * @file
 *   All the base elements css are defined here.
 */
/* line 5, ../../sass/base/base.scss */
html, body, ul, li,
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

/* line 11, ../../sass/base/base.scss */
a, a:hover {
  text-transform: none;
  text-decoration: none;
}
